@import "../../../globalStyles/scss/variables.scss";

.nav-menu {
  margin-right: 20px;
  margin-left: 20px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
}

.div-block {
  margin-top: 10px;
  //margin-bottom: 20px;
}
